/sql/pavingd_live_db.sql
/junk
/live
/storage
/public/hot
/public/media
/.idea
/.vagrant
/node_modules
npm-debug.log
yarn-error.log
.idea
.htaccess
favicon.ico
bootstrap/compiled.php
app/storage/
public/storage
storage/*.key
.env
.phpunit.result.cache
/config/client_secret*
