// === BREAKPOINTS ===
$tiny-screens: 320px;
$small-screens: 480px;
$medium-screens: 768px;
$large-screens: 991px;
$wide-screens: 1280px;

// === COLORS ===
$text-color: #222222;
$theme-bk-color: #c8c8c8;
$theme-color: #F43232;
$theme-dark-color: #C30707;
$overlay-bk-color: rgba(48, 48, 48, 0.46);
$overlay-bk-dark-color: rgba(48, 48, 48, 0.89);

$red-color: #C0383C;

$error-color: #C0383C;
$warning-color: #ffa500;
$info-color: #09afe1;
$success-color: #28bf28;
// 3a99ec
